{name, "riak_kv"}.
{authors, ["Andy Gross <andy@basho.com>", "Justin Sheehy <justin@basho.com>", "Bryan Fink <bryan@basho.com>"]}.
{description, "Riak Key/Value Store"}.
{homepage, "https://github.com/basho/riak_kv"}.
{rebar_compatible, true}.
{license, "Apache License 2.0"}.
{url, {git, "https://github.com/basho/riak_kv.git", {branch, "master"}}}. 
{applications, [riak_kv]}.
